# Core data / math
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.0

# Plotting & dashboard
plotly==5.22.0
dash==2.16.1
dash-bootstrap-components==1.6.0

# Stats / transforms
statsmodels==0.14.2


kaleido==0.2.1

# Visualization helpers
seaborn==0.13.2
matplotlib==3.9.0
